.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .lien-he {
    margin: 0 15%;
  }

  #nhap-captcha{
    margin-bottom: 10px;
  }
  
  #lienhe_captcha{
    width: 150px;
  }
  